<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaching App</title>
</head>
<body>

    <h4 th:text="${team_member.username}"></h4>
    <h4 th:text="${team_member.password}"></h4>
    <h4 th:text="${team_member.firstName}"></h4>
    <h4 th:text="${team_member.lastName}"></h4>
    <h4 th:text="${team_member.contactNo}"></h4>
    <h4 th:text="${team_member.employeeType}"></h4>
    <h4 th:text="${team_member.rolePosition}"></h4>

</body>
</html>