<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaching App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="../static/assets/css/register.css" th:href="@{/assets/css/register.css}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="d-flex flex-column justify-content-center align-items-center register-page">
        <div class="text-center register-container">
            <h3 class="mt-4 mb-4">Coaching App</h3>
            <form th:action="@{/team/}" method="post">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-6">
                            <input type="text" th:name="firstName" placeholder="First name" class="mb-1 register-input">
                            <input type="text" th:name="lastName" placeholder="Last name" class="mt-1 mb-1 register-input">
                            <input type="text" th:name="contactNo" placeholder="Contact number" class="mt-1 mb-1 register-input">
                            <select th:name="employeeType" class="mt-1 mb-1 register-input">
                                <option th:value="HR">Human Resource</option>
                                <option th:value="Coach">Coach</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" th:name="rolePosition" placeholder="Role or position" class="mb-1 register-input">
                            <input type="email" th:name="username" placeholder="Email" class="mt-1 mb-1 register-input">
                            <input type="password" th:name="password" placeholder="Password" class="mt-1 mb-1 register-input">
                            <input type="password" placeholder="Confirm password" class="mt-1 mb-1 register-input">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Register" class="btn btn-primary mt-3 mb-3 register-btn">
                <p class="login-indicator">Already have an account? <a th:href="@{/}">Login here.</a></p>
            </form>
        </div>
    </div>

</body>
</html>