<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaching App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

    <div class="d-flex justify-content-center align-items-center" th:style="${'height: 100vh;'}">
        <div class="text-center" th:style="${
    'width: 250px;
    height: 280px;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;' }">
            <h3 class="mt-4 mb-4">Coaching App</h3>
            <form th:action="@{/team/login}">
                <input type="email" th:name="username" placeholder="Email" class="rounded mt-1 mb-1" th:style="${
                'font-size: 0.9rem;
                padding: 4px 6px;
                width: 200px;'}">
                <input type="password" th:name="password" placeholder="Password" class="rounded mb-3" th:style="${
                'font-size: 0.9rem;
                padding: 4px 6px;
                width: 200px;'}">
                <input type="submit" value="LOGIN" class="btn btn-primary mb-4" th:style="${'width: 160px; font-weight: 500'}">
            </form>
            <p th:style="${'font-size: 0.7rem;'}">Don't have an account? <a th:href="@{/register}">Register here.</a></p>
        </div>
    </div>

</body>
</html>