@import url('https://fonts.googleapis.com/css2?family=Poppins');

.login-page {
    height: 100vh;
}

.login-container {
    width: 250px;
    height: 280px;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h3 {
    font-family: 'Poppins';
    font-weight: 700;
}

.login-input {
    font-family: 'Poppins';
    font-size: 0.8rem;
    padding: 5px 8px;
    border: 0px;
    border-radius: 5px;
    outline: none;
    background-color: #F2F2F2;
    height: 30px;
    width: 200px;
    transition: .1s;
}

.login-input:focus {
    border: 1.3px solid #006AFF;
}

.login-btn {
    margin: auto;
    height: 35px;
    width: 200px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-indicator {
    font-family: 'Poppins';
    font-size: 0.6rem;
    font-weight: 500;
}